@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("/fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("/fonts/montserrat-v14-latin-italic.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("/fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-700.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("/fonts/montserrat-v14-latin-700italic.woff2") format("woff2"),
    url("/fonts/montserrat-v14-latin-700italic.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "baloo-thambi2";
  font-style: normal;
  font-weight: 700;
  src: local("Baloo Thambi 2 Bold"), local("BalooThambi2-Bold"),
    url("/fonts/baloo-thambi-2-v1-latin-700.woff2") format("woff2"),
    url("/fonts/baloo-thambi-2-v1-latin-700.woff") format("woff");
  font-display: swap;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
}

h3, h4 {
  font-weight: bold;
}

img {
  border-radius: 0.25rem;
}
