html {
  font-size: 16px;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
}

h3, h4 {
  font-weight: bold;
}

img {
  border-radius: 0.25rem;
}
